.parent {
    display: flex;
    flex-direction: row;
}
.box {
    width: 300px;
    height: 300px;
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
}
.companyFont {
    font-family: Verdana sans-serif;
}
.title {
    font-size: 32px;
    font-weight: bolder;
    color: white;
    text-decoration: underline;
    text-decoration-style: wavy;
}
.subHeader {
    font-size: 18px;
    font-weight: bolder;
    color: white;
}
.normalText {
    font-size: 16px;
    padding: 8px;
    text-align: justify;
}
.lightgreen {
    background-color: lightgreen;
    box-shadow: 5px 5px 5px lightgreen;
}
.red {
    background-color: red;
    box-shadow: 5px 5px 5px red;
}
.violet {
    background-color: violet;
    box-shadow: 5px 5px 5px violet;
}
.thistle {
    background-color: thistle;
    box-shadow: 5px 5px 5px thistle;
}
@media only screen and (max-width: 690px) {
    .parent {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .violet {
        display: none;
    }
}